@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Shadows+Into+Light&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/1048041/pexels-photo-1048041.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.wishlist{
    Display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
    width: auto;
    margin-right: 250px;
}

h1 {
    text-align: center;
    font-family: 'Mountains of Christmas', serif;
    width: auto;
    margin-right: 250px;
    padding-top: 50px;
}