body {
    margin: 0;
    padding: 0;
}

:root {
  --white: #fff;
  --red: #FF0002;
}

.flag {
  width: 100vw;
  height: 100vh;
  background-color: var(--red);
  position: relative;
}

.cross {
  width: 12%;
  height: 60%;
  background-color: var(--white);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.cross2 {
  width: 60%;
  height: 13%;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}
